.App {
  text-align: center;
}

.App-header {
  background-color: #ff42ff;
  height: 150px;
  padding: 20px;
  color: #0033FF;
}

.App-header marquee {
  animation: App-title-anim infinite 5s linear;
  position: relative;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes  App-title-anim {
  0% { top: 0; transform: rotate(0); }
  33.33% { top: 20px; transform: rotate(-5deg); }
  66.55% { top: -20px; transform: rotate(5deg); }
  100% { top: 0; transform: rotate(0); }
}

.App-footer {
  background-color: green;
  padding: 50px 0;
}

.content-container {
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
}

.output-area li {
  margin-bottom: 20px;
  text-align: right;
}

.entrie-remove {
  margin: 5px;
  color: red;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #000;
}

.save-button {
  margin: 0 10px;
  border-radius: 3px;
  background-color: blue;
  color: #FFF;
}

.empty .input-field {
  border: 1px dotted red;
}

.input-area p {
  display: none;
}

.input-area.empty p {
  display: block;
  color: red;
  font-size: 1.5em;
  font-weight: bold;
}

