.App {
  text-align: center;
}

.App-header {
  background-color: #488dd8;
  height: 75px;
  padding: 20px;
}

.App-header marquee {
  animation: App-title-anim infinite 5s linear;
  position: relative;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes  App-title-anim {
  0% { top: 0; transform: rotate(0); }
  33.33% { top: 20px; transform: rotate(-5deg); }
  66.55% { top: -20px; transform: rotate(5deg); }
  100% { top: 0; transform: rotate(0); }
}

.App-footer {
  background-color: #1fa67a;
  padding: 50px 0;
}

.content-container {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.output-area li {
  margin-bottom: 20px;
  text-align: right;
  position: relative;
}

.entrie-remove {
  margin: 5px;
  color: red;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #000;
}

.save-button {
  margin: 0 10px;
  border-radius: 3px;
  background-color: blue;
  color: #FFF;
}

.empty .input-field {
  border: 1px dotted red;
}

.input-area p {
  display: none;
}

.input-area.empty p {
  display: block;
  color: red;
  font-size: 1.5em;
  font-weight: bold;
}

.item-text {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 85px 0 0;
  display: inline-block;
}

.filter-group {
  margin: 20px 0;
}

.output-area .btn.focus,
.output-area .btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-group.item-controls {
  position: absolute;
  right: 0;
  top: 5px;
}